*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
img{
    max-width: 500px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:rgb(95, 95, 95) ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.anketa{
    display:grid;
    align-items: center;
    flex-wrap: wrap;  
    gap: 1.5rem;
    margin-bottom: 3%;
    border: 10px;
    border-style: double;
    border-color:rgb(207, 110, 196) ;
}
.anketa h2 {
    color: rgb(195, 195, 196);
    font-size: 30px;
    text-align: center;
}
.anketa h3 {
    color: rgb(197, 197, 197);
    font-size: 23px;
    text-align: center;
}
.contacts {
    padding: 2rem 9%;
}
.contacts .heading {
   text-align: center; 
   margin-bottom: 2rem;
   color: aliceblue;
   font-size: 70px;
}
.contacts .heading span {
    color: rgb(207, 110, 196);
}
.contacts .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contacts .row img{
    flex: 1 1 40rem;
}
.contacts .row form{
    flex: 1 1 40rem;
}
.contacts .row form .box{
    width: 100%;
    margin: 1rem 0rem 2rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
}
.contacts .row form span{
   color: aliceblue; 
   font-size: 21px;
}
.contacts .row form .gender{
    margin: 1rem 0rem 2rem;
}
.contacts .row form .gender label{
    margin-left: 0.2rem;
    font-size: 1.6rem;
    color: aliceblue;
    cursor: pointer;
}
.contacts .row form .gender #female{
    margin-left: 2rem;
}
.contacts .row form .gender input{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}
.contacts .row form .gender
input:checked{
    background-color: rgb(158, 76, 252);;
    border-radius: 50%;
}
.contacts .row form .gender
 #female:checked ~ label[for=female] {
    color: rgb(255, 202, 242);;
}
.contacts .row form .gender
 #male:checked ~ label[for=male] {
    color: rgb(194, 180, 255);;
}
.btn{
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 1rem rgb(207, 110, 196);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
    
}
.btn:hover{
    background-color: rgb(158, 76, 252);;
    color: rgb(255, 255, 255);
}
.Exit {
    padding: 1rem 2rem;
    max-width: 10rem;
    margin-top: 3%;
    border-radius: 2.5rem;
    background-color: rgb(255, 255, 255);;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
    
}
.Exit a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    
}
.Exit :hover{
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    max-width: 10rem;
    margin-top: 3%;
    background-color: rgb(158, 76, 252);;
    color: rgb(255, 255, 255);  
    transition: 0.3s;
}